.section-about {
  color: black;
  margin-top: 3rem;
  padding: 10px;
  font-size: 18px;
}

.about-img {
  width: 100%;
  height: 75vh;
  background-image: url(../img/about.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}